<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="module" src="/javascripts/admin.js"></script>
</head>
<body class="admin">
    <%- include('components/sticky_header.ejs') %>

    <div class="sidebar">
        <ul>
            <li class="title">All Tables</li>
            <div class="items"></div>
        </ul>
    </div>
    
    <section class="main_container">
        <div class="overlay"></div>
        <button class="add_item_button">Add Item</button>
        <table class="table"></table>
    </section>

    <div id="item_modal" class="modal">
        <span class="close_modal">&times;</span>
        <div class="modal_content"></div>
    </div>

    <input type="hidden" id="csrfToken" value="<%= csrfToken %>"/>
</body>
</html>