<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Shopping Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="module" src="/javascripts/script.js"></script>
</head>

<body class="home">
    <header class="sticky_header">
        <div class="logo">Shopping Center</div>

        <div class="top_bar">
            <div class="left_section">
                <button class="menu_button">
                    <i class="fa-solid fa-bars"></i>
                    Category
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <div class="admin_panel_container">
                    <button class="admin_panel_button">
                        Admin Panel
                    </button>
                </div>
                <span class="divider"></span>
                <div>
                    <nav class="breadcrumb"></nav>
                </div>
            </div>
            <div class="right_section">
                <div class="cart_container">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="cart_count">$0.00</span>
                    <div class="shopping_list">
                        <h3>Shopping Cart</h3>
                        <ul class="cart_items"></ul>
                        <button class="checkout_button">Checkout</button>
                    </div>
                </div>
                <div class="user_container">
                    <i class="fa-solid fa-user"></i>
                    <span class="user_name"></span>
                    <div class="user_panel"></div>
                </div>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <ul>
            <li class="category_title">All Categories</li>
            <div class="items"></div>
        </ul>
    </aside>

    <section class="main_container">
        <div class="overlay"></div>
        <section class="product_list">
            <div class="product"></div>
        </section>
    </section>

    <div class="modal">
        <span class="close_modal">&times;</span>
        <div class="modal_content"></div>
    </div>

    <input type="hidden" id="csrfToken" value="<%= csrfToken %>">

</body>

</html>