<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Shopping Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://www.paypal.com/sdk/js?client-id=<%= PAYPAL_CLIENT_ID %>&buyer-country=US&currency=HKD&components=buttons&enable-funding=venmo"></script>
    <script type="module" src="/javascripts/script.js"></script>
    <script type="module" src="/javascripts/checkout.js"></script>
</head>

<body class="home">
    <%- include('components/sticky_header.ejs') %>

    <div class="sidebar">
        <ul>
            <li class="title">All Categories</li>
            <div class="items"></div>
        </ul>
    </div>

    <div class="overlay"></div>
    
    <section class="main_container"></section>

    <div class="modal">
        <span class="close_modal">&times;</span>
        <div class="modal_content"></div>
    </div>

    <input type="hidden" id="csrfToken" value="<%= csrfToken %>">

</body>

</html>